build/*
.flutter-plugins
.idea/*
.packages
android/.gradle/
android/.idea/
android/android.iml
android/app/app.iml
android/app/src/main/java/io/
android/e_commerss_android.iml
android/gradle/wrapper/gradle-wrapper.jar
android/gradlew
android/gradlew.bat
android/local.properties

e_commerss.iml
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
